.ummbook {
	width: 800px;
	height: 600px;
	font-family: sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: break-word;
}

.ummbook-choice {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}
